div.container-fluid div.row div.card div.card-header {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-between;
}

div.container-fluid div.row div.card div.card-header.lookup-controls {
  justify-content: end;
  padding: 0.5rem 1.0625rem;
}

div.container-fluid div.row div.card div.card-header.shimmer {
  min-height: 2.25em;
}

div.container-fluid
  div.row
  div.card
  div.card-header.lookup-controls
  button.remove-lookup-button {
  border: none;
  outline: none;
}

div.container-fluid
  div.row
  div.card
  div.card-header.lookup-controls
  button.show-share-menu-button {
  background-color: var(--bs-card-cap-bg);
  border-color: #4824ff;
  color: #4824ff;
  margin-left: 0.125rem;
  min-width: 9.375rem;
}

@media (hover: hover) {
  div.container-fluid
    div.row
    div.card
    div.card-header.lookup-controls
    button.show-share-menu-button:not(:disabled):not(.disabled):active {
    background-color: #4824ff;
    color: rgba(223, 219, 215, 1);
  }
  div.container-fluid
    div.row
    div.card
    div.card-header.lookup-controls
    button.show-share-menu-button:hover {
    background-color: #4824ff;
    color: rgba(223, 219, 215, 1);
  }
}

div.container-fluid
  div.row
  div.card
  div.card-header.lookup-controls
  button.remove-lookup-button {
  color: black;
  background: none;
  padding: 0 0.5rem;
}

div.container-fluid
  div.row
  div.card
  div.card-header.lookup-controls.from-previous-lookup {
  border: 0;
  justify-content: space-between;
  line-height: 2rem;
}

div.container-fluid
  div.row
  div.card
  div.card-header.lookup-controls.from-previous-lookup {
  background-color: #eac4fb;
  font-family: 'Helvetica', sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
}

div.container-fluid
  div.row
  div.card
  div.card-header.lookup-controls.from-previous-lookup
  button.remove-lookup-button {
  background: none;
  border: none;
  color: black;
  font-size: 1.5rem;
  outline: none;
  padding: 0 0.375rem;
}
