/* Start Jumbotron styles */

/* Start old-style display */

div.container-fluid div.jumbotron {
  background-color: transparent;
  border-radius: 0.375rem;
  padding: 2rem 1rem;
  max-width: 40rem;
}

@media only screen and (min-width: 768px) {
  div.container-fluid div.jumbotron {
    padding: 4rem 2rem;
  }
}

div.container-fluid div.jumbotron h1.display-4 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

/* Start April Fools only */
div.container-fluid div.jumbotron h1.display-4 span.driving-strikethrough {
  text-decoration: line-through;
}
/* End April Fools only */

div.container-fluid div.jumbotron p.lead a.open-data-link {
  color: #000;
  text-decoration: underline;
}

/* End old-style display */

/* Start new-style display */

div.container-fluid div.jumbotron.new-style {
  margin: auto;
  padding: 2rem 0.5rem;
}

@media only screen and (min-width: 360px) {
  div.container-fluid div.jumbotron.new-style {
    padding: 2rem 1rem;
  }
}

@media only screen and (min-width: 400px) {
  div.container-fluid div.jumbotron.new-style {
    padding: 4rem 0rem;
  }
}

/* @media only screen and (min-width: 768px) {
  div.container-fluid div.jumbotron.new-style {
    padding: 4rem 0rem;
  }
} */

div.container-fluid div.jumbotron.new-style h1.display-4 {
  max-width: 24rem;
}

div.container-fluid div.jumbotron.new-style p.lead {
  max-width: 16rem;
}

@media only screen and (min-width: 576px) {
  div.container-fluid div.jumbotron.new-style h1.display-4 {
    max-width: none;
  }
}

@media only screen and (min-width: 576px) {
  div.container-fluid div.jumbotron.new-style p.lead {
    max-width: none;
  }
}

/* End new-style display */

/* End Jumbotron styles */

form.form {
  padding: 1rem 0;
}

form.form div.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

form.form div.form-row > .col {
  padding-left: 5px;
  padding-right: 5px;
}

form.form div.form-row div.form-group {
  margin: 0.5rem;
}

form.form div.form-row div.form-group input[type='text'] {
  font-size: 1rem;
  height: 2.375rem;
  text-transform: uppercase;
}

form.form div.form-row div.form-group input::-webkit-input-placeholder {
  text-transform: initial;
}

form.form div.form-row div.form-group input::-moz-placeholder {
  text-transform: initial;
}

form.form div.form-row div.form-group input:-moz-placeholder {
  text-transform: initial;
}

form.form div.form-row div.form-group input::-ms-input-placeholder {
  text-transform: initial;
}

form.form div.form-row div.form-group select {
  font-size: 1rem;
  height: 2.375rem;
}

div.container-fluid div.row div.alert.alert-warning {
  display: flex;
  margin: 0 1rem 1rem;
  width: calc(100% - 2rem);
}

div.container-fluid div.row div.alert.alert-warning span.alert-text {
  flex: 1;
  text-align: center;
}
