div.container-fluid div.row div.card ul.list-group.list-group-flush {
  margin: 0;
  padding: 0;
}

div.container-fluid
  div.row
  div.card
  ul.list-group-flush
  li.list-group-item.no-padding {
  padding: 0;
}

/* Start old-style display */

div.container-fluid
  div.row
  div.card
  ul.list-group-flush
  li.list-group-item.no-padding
  div.row {
  margin: 0;
  width: 100%;
}

/* End old-style display */

/* Start new-style display */

div.container-fluid
  div.row
  div.card
  ul.list-group-flush
  li.list-group-item.no-padding
  div.row {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr; /* Stacked by default */
}

/* End new-style display */

@media only screen and (min-width: 576px) {
  div.container-fluid
    div.row
    div.card
    ul.list-group-flush
    li.list-group-item.no-padding
    div.row {
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto auto; /* Three rows, one for each child */
  }

  /* Ensure the first and third children stack in the first column */
  div.container-fluid
    div.row
    div.card
    ul.list-group-flush
    li.list-group-item.no-padding
    div.row
    div.summary-section:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    grid-column: 1; /* First column */
    grid-row: 1; /* First row */
  }

  div.container-fluid
    div.row
    div.card
    ul.list-group-flush
    li.list-group-item.no-padding
    div.row
    div.summary-section:nth-child(1):nth-last-child(3) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  div.container-fluid
    div.row
    div.card
    ul.list-group-flush
    li.list-group-item.no-padding
    div.row
    div.summary-section:nth-child(3) {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    grid-column: 1; /* First column */
    grid-row: 2; /* Second row */
  }

  /* Ensure the second child stays in its own column */
  div.container-fluid
    div.row
    div.card
    ul.list-group-flush
    li.list-group-item.no-padding
    div.row
    div.summary-section:nth-child(2) {
    border: none;
    grid-column: 2; /* Second column */
    grid-row: 1 / span 2; /* Make it span both rows in the second column */
  }
}

/* End new-style display */
