/* Start new-style display */

div.container-fluid div.vehicle-lookup-content-container.new-style {
  margin: auto;
  max-width: 18rem;
  padding: 0;
}

@media only screen and (min-width: 360px) {
  div.container-fluid div.vehicle-lookup-content-container.new-style {
    max-width: 20.5rem;
  }
}

@media only screen and (min-width: 400px) {
  div.container-fluid div.vehicle-lookup-content-container.new-style {
    max-width: 23rem;
  }
}

@media only screen and (min-width: 576px) {
  div.container-fluid div.vehicle-lookup-content-container.new-style {
    max-width: 34rem;
  }
}

/* End new-style display */

/* Start old-style display */

div.container-fluid div.vehicle-lookup-content-container:not(.new-style) {
  padding: 0 1rem;
}

/* End old-style display */

div.container-fluid div.row ul.list-group li.list-group-item {
  display: flex;
  font-family: 'Helvetica', sans-serif;
  justify-content: space-between;
}

div.container-fluid div.row div.card ul.list-group {
  border-bottom: 1px solid #ddd;
  margin: 1rem 0;
  padding: 0.5rem 0;
}
