/* Start VehicleResults styles */

/* Start old-style display */

div.site-container-wrapper
  div.site-container.container-fluid
  div.row
  div.vehicle-lookup-content-container
  div.vehicles {
  padding: 0.5rem 0 0;
}

div.site-container-wrapper
  div.site-container.container-fluid
  div.row
  div.vehicle-lookup-content-container
  div.vehicles:empty {
  padding: 0;
}

/* End old-style display */

/* Start new-style display */

div.site-container-wrapper
  div.site-container.container-fluid
  div.row
  div.vehicle-lookup-content-container
  div.vehicles.new-style {
  max-width: 36rem;
  margin: auto;
}

/* End new-style display */

div.container-fluid
  div.row
  div.card
  ul.list-group-flush
  li.list-group-item.no-padding
  div.row
  div.summary-section
  div.summary-box.shimmer.align-left {
  min-width: 5em;
  text-align: left;
}

div.container-fluid
  div.row
  div.card
  ul.list-group-flush
  li.list-group-item.no-padding
  div.row
  div.summary-section
  div.summary-box.shimmer.align-right {
  min-width: 5em;
  text-align: right;
}

/* disabled shimmer card button */
div.container-fluid
  div.row
  div.card
  ul.list-group-flush
  li.list-group-item
  div.violations-table-wrapper
  div.violations-table-header
  a.btn-primary.disabled.placeholder {
  background-color: #4824ff;
  border-color: #4824ff;
  margin: 0 0.25rem;
}
