@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext&display=swap');

body {
  background-color: #ef6296;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.loader-wrapper {
  margin: auto;
  min-height: 10rem;
  width: 50%;
  text-align: center;
}

div.container-fluid.site-container {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
}
