@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext&display=swap');

body {
  background-color: #ef6296;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

div.jumbotron {
  /*color: #333;
  padding: 1rem;
  text-align: center;*/
  background-color: transparent;
}

div.jumbotron h1.display-4 {
  font-weight: bold;
}

div.jumbotron p.lead a.open-data-link {
  color: #000;
  text-decoration: underline;
}

div.loader-wrapper {
  margin: auto;
  min-height: 10rem;
  width: 50%;
  text-align: center;
}

div.container-fluid {
  display: flex;
  flex-direction: column;
}

form.form {
  margin: 1rem 2rem;
}

form.form div.form-group {
  margin: 0.5rem;
}

form.form div.form-group input {
  font-size: 0.875rem;
  height: 2.375rem;
}

form.form div.form-group select {
  font-size: 0.875rem;
  height: 2.375rem;
}

div.container-fluid div.row ul.list-group li.list-group-item {
  display: flex;
  font-family: 'Helvetica', sans-serif;
  justify-content: space-between;
}

div.container-fluid div.row div.card {
  margin: 1rem 0;
}

div.container-fluid div.row div.card div.card-header {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-between;
}

div.container-fluid div.row div.card div.card-header button {
  border: none;
  outline: none;
}

div.container-fluid div.row div.card div.card-header button.remove-lookup-button {
  color: black;
  background: none;
}

div.container-fluid div.row div.card div.card-header div.share-icons {
  display: flex;
}

div.container-fluid div.row div.card div.card-header div.share-icons button.copy-button {
  background: none;
}

div.container-fluid div.row div.card div.card-header div.share-icons button.copy-button .circle.pressed {
  color: gray;
}

div.container-fluid div.row div.card div.card-header div.share-icons button.copy-button span.fa-layers .circle {
  color: black;
}

div.container-fluid div.row div.card div.card-header div.share-icons button.copy-button span.fa-layers .circle.pressed {
  color: gray;
}

div.container-fluid div.row div.card div.card-header div.share-icons button.copy-button span.fa-layers .copy {
  color: white;
}

div.container-fluid div.row div.card div.card-header div.share-icons button.twitter-share-button {
  background-color: transparent;
  font: inherit;
  font-size: initial;
  color: inherit;
  cursor: pointer;
  padding: 0px;
}

div.container-fluid div.row div.card ul.list-group.list-group-flush {
  margin: 0;
  padding: 0;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item.no-padding {
  padding: 0;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item.list-group-item-warning p {
  margin-bottom: 0;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item.list-group-item-warning p a {
  color: #000;
  margin: 0 0 0 0.25rem;
  text-decoration: underline;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item.no-padding div.summary-box {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item.no-padding div.summary-box div.summary-value {
  font-weight: bold;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item.no-padding div.split-list-group-item {
  padding: 0.25rem 0.75rem;
  width: 100%;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item.no-padding div.split-list-group-item {
  border-right: 1px solid #ccc;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item.no-padding div.split-list-group-item:last-child {
  border-right: none;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.violations-table-header {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0 0.5rem;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.violations-table-header span.violations-count {
  font-weight: bold;
  margin-left: 0.25rem;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.violations-table-header span.see-violations-table-link {
  font-style: italic;
  margin: 0 0.25rem;
  text-decoration: underline;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.violations-table-header span.see-full-violation-text-table-link {
  font-style: italic;
  margin: 0 0.25rem;
  text-decoration: underline;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive {
  padding: 0.5rem 0 0;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table tbody tr::after{
    content: "";
    display: inline-block;
    min-height: 50px;
    vertical-align: top;
  }

  div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table tbody tr td {
    vertical-align: inherit;
  }
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table thead tr th {
  cursor: pointer;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table thead tr th.sort-column {
  color: #000;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table thead tr th.sort-column svg.svg-inline--fa {
  margin: 0 0.25rem;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table tbody tr.sort-divider {
  background-color: black;
  color: white;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table tbody tr.sort-divider th, td {
  vertical-align: inherit;
}

/* div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table tr.violation-row div {
  -webkit-transition: max-height 2s ease;
  -moz-transition: max-height 2s ease;
  transition: max-height 2s ease;

  max-height: 100px;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table tr.violation-row.expanded div {
  -webkit-transition: max-height 2s ease;
  -moz-transition: max-height 2s ease;
  transition: max-height 2s ease;

  max-height: 400px;
} */

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table tr.violation-row td.violation-description div.humanized-description {
  display: block;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table tr.violation-row td.violation-description div.icons {
  display: block;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table tr.violation-row td.violation-description div.icons svg.svg-inline--fa {
  margin: 0 0.25rem;
}

div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table tr.violation-row td.location span.borough {
  margin: 0 0.25em 0 0;
}


/* div.container-fluid div.row div.card ul.list-group-flush li.list-group-item div.violations-table-wrapper div.table-responsive table tr.violation-row td.violation-description svg.svg-inline--fa {
  margin: 0 0.25rem;
} */

/*div.container-fluid div.row div.card div.card-title div.card-text {
  font-size: 1.5rem;
}*/

div.container-fluid div.row div.card ul.list-group {
  border-bottom: 1px solid #ddd;
  margin: 1rem 0;
  padding: 0.5rem 0;
}

div.container-fluid div.row div.card ul.list-group div.violation-type-header {
  display: flex;
  /*justify-content: space-between;*/
}

div.container-fluid div.row div.card ul.list-group div.violation-type-header svg.fa-angle-right {
  height: 1.5rem;
  margin: 0 0.5rem;
}

div.container-fluid div.row div.card ul.list-group div.violation-type-header span.num-violations-for-type {
  font-weight: bold;
}

div.container-fluid div.row div.card ul.list-group li.list-group-item span.violation-description {
  margin: 0 1rem;
}

div.container-fluid div.row div.card ul.list-group li.list-group-item span.violation-time {
  margin: 0 1rem;
}

div.vehicles {
  padding: 0.5rem 0 0;
}